# Git
.git
.gitignore

# Docker
docker-compose.yml
.dockerignore
Dockerfile

# PHP
vendor
composer.lock
composer.phar

# Node
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Laravel
.env
.env.*
!.env.example
storage/
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log